<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Czas zadań</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
</head>
</head>
<body>
<header>
    <nav>
        <a href="/">Strona główna</a>
        <a href="/get-time">Pobierz czas</a>
        <a href="/docs">Dokumentacja</a>
        <a href="/test">Testy</a>
    </nav>
    <form action="/" method="post">
        <label>
            <input type="text" placeholder="Dodaj zadanie do twojej listy" name="title">
        </label>
        <button type="submit">Dodaj</button>
    </form>
</header>
<hr>
{{{body}}}
</body>
</html>